@import "../node_modules/flexboxgrid/css/flexboxgrid.min.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 12px;
  padding-left: calc(var(--headerWidth) + 12px);
}

:root {
  --neutral-000: #fff;
  --neutral-050: #fafafa;
  --neutral-075: #f3f3f3;
  --neutral-100: #f5f5f5;
  --neutral-150: #eee;
  --neutral-200: #eaeaea;
  --neutral-300: #e1e1e1;

  --dark-000: #000;
  --dark-050: #070707;

  --red: #e33112;
  --green: #0de04c;
  --blue: #1ca1f3;
  --yellow: #fab525;
  --purple: #610ef0;

  --headerHeight: 100vh;
  --headerWidth: 80px;
  --leftNavbarWidth: 80px;
}
